<!DOCTYPE html>
<html lang="en">
  <%- include("layouts/head"); %>
  <body>
    <!-- MODAL START -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body d-flex flex-column justify-content-center align-items-center my-3">
            <img src="images/img-BeepBeep.png" />
            <h5 class="my-2">Menghapus Data Mobil</h5>
            <p class="my-2 text-center text-modal">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
          </div>
          <div class="d-flex mx-auto">
            <button type="button" class="btn btn-modalyes ms-3 mb-4">Ya</button>
            <button type="button" class="btn btn-modalno ms-3 mb-4" data-bs-dismiss="modal">Tidak</button>
          </div>
        </div>
      </div>
    </div>
    <!-- MODAL END -->
    <div class="container-list-car">
      <div class="col-12">
        <div class="sub-tree">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Cars</a></li>
            <i class="fa fa-solid fa-chevron-right mx-2"></i>
            <li class="breadcrumb-item active" aria-current="page">List Car</li>
          </ol>
          <span class="list-car">List Car</span>
        </div>
        <div class="list-button">
          <div class="button-right">
            <button type="button" id="btn-addcar" class="btn btn-primary btn-addcar"><img src="images/fi_plus.png" alt="icon-plus" /> Add New Car</button>
          </div>
        </div>
        <div class="btn-group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-primary btn-size">All</button>
          <button type="button" class="btn btn-outline-primary btn-size">Small</button>
          <button type="button" class="btn btn-outline-primary btn-size">Medium</button>
          <button type="button" class="btn btn-outline-primary btn-size">Large</button>
        </div>
      </div>

      <div class="row col-13">
        <div class="card me-5">
          <div class="card-body">
            <h5 class="card-title">
              <img src="images/fi_car.png" alt="img-car" />
            </h5>
            <p>Nama/Tipe Mobil</p>
            <h6>Rp 430.000 / hari</h6>
            <p class="card-text"><img src="images/fi_key.png" alt="icon-key" />Start rent - Finish rent</p>
            <p class="card-text"><img src="images/fi_clock.png " alt="icon-clock" />Updated at 4 Apr 2022, 09.00</p>
            <div class="btn-group" aria-label="Basic example">
              <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger btn-trash"><img src="images/fi_trash-2.png" alt="icon-trash" />Delete</button>
              <button type="button" class="btn btn-success btn-edit"><img src="images/fi_edit.png" alt="icon-edit" />Edit</button>
            </div>
          </div>
        </div>
        <div class="card me-5">
          <div class="card-body">
            <h5 class="card-title">
              <img src="images/fi_car.png" alt="img-car" />
            </h5>
            <p>Nama/Tipe Mobil</p>
            <h6>Rp 430.000 / hari</h6>
            <p class="card-text"><img src="images/fi_key.png" alt="icon-key" />Start rent - Finish rent</p>
            <p class="card-text"><img src="images/fi_clock.png " alt="icon-clock" />Updated at 4 Apr 2022, 09.00</p>
            <div class="btn-group" aria-label="Basic example">
              <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger btn-trash"><img src="images/fi_trash-2.png" alt="icon-trash" />Delete</button>
              <button type="button" class="btn btn-success btn-edit"><img src="images/fi_edit.png" alt="icon-edit" />Edit</button>
            </div>
          </div>
        </div>
        <div class="card me-5">
          <div class="card-body">
            <h5 class="card-title">
              <img src="images/fi_car.png" alt="img-car" />
            </h5>
            <p>Nama/Tipe Mobil</p>
            <h6>Rp 430.000 / hari</h6>
            <p class="card-text"><img src="images/fi_key.png" alt="icon-key" />Start rent - Finish rent</p>
            <p class="card-text"><img src="images/fi_clock.png " alt="icon-clock" />Updated at 4 Apr 2022, 09.00</p>
            <div class="btn-group" aria-label="Basic example">
              <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger btn-trash"><img src="images/fi_trash-2.png" alt="icon-trash" />Delete</button>
              <button type="button" class="btn btn-success btn-edit"><img src="images/fi_edit.png" alt="icon-edit" />Edit</button>
            </div>
          </div>
        </div>
        <div class="card me-5">
          <div class="card-body">
            <h5 class="card-title">
              <img src="images/fi_car.png" alt="img-car" />
            </h5>
            <p>Nama/Tipe Mobil</p>
            <h6>Rp 430.000 / hari</h6>
            <p class="card-text"><img src="images/fi_key.png" alt="icon-key" />Start rent - Finish rent</p>
            <p class="card-text"><img src="images/fi_clock.png " alt="icon-clock" />Updated at 4 Apr 2022, 09.00</p>
            <div class="btn-group" aria-label="Basic example">
              <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger btn-trash"><img src="images/fi_trash-2.png" alt="icon-trash" />Delete</button>
              <button type="button" class="btn btn-success btn-edit"><img src="images/fi_edit.png" alt="icon-edit" />Edit</button>
            </div>
          </div>
        </div>
        <div class="card me-5">
          <div class="card-body">
            <h5 class="card-title">
              <img src="images/fi_car.png" alt="img-car" />
            </h5>
            <p>Nama/Tipe Mobil</p>
            <h6>Rp 430.000 / hari</h6>
            <p class="card-text"><img src="images/fi_key.png" alt="icon-key" />Start rent - Finish rent</p>
            <p class="card-text"><img src="images/fi_clock.png " alt="icon-clock" />Updated at 4 Apr 2022, 09.00</p>
            <div class="btn-group" aria-label="Basic example">
              <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger btn-trash"><img src="images/fi_trash-2.png" alt="icon-trash" />Delete</button>
              <button type="button" class="btn btn-success btn-edit"><img src="images/fi_edit.png" alt="icon-edit" />Edit</button>
            </div>
          </div>
        </div>
        <div class="card me-5">
          <div class="card-body">
            <h5 class="card-title">
              <img src="images/fi_car.png" alt="img-car" />
            </h5>
            <p>Nama/Tipe Mobil</p>
            <h6>Rp 430.000 / hari</h6>
            <p class="card-text"><img src="images/fi_key.png" alt="icon-key" />Start rent - Finish rent</p>
            <p class="card-text"><img src="images/fi_clock.png " alt="icon-clock" />Updated at 4 Apr 2022, 09.00</p>
            <div class="btn-group" aria-label="Basic example">
              <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger btn-trash"><img src="images/fi_trash-2.png" alt="icon-trash" />Delete</button>
              <button type="button" class="btn btn-success btn-edit"><img src="images/fi_edit.png" alt="icon-edit" />Edit</button>
            </div>
          </div>
        </div>
        <div class="card me-5">
          <div class="card-body">
            <h5 class="card-title">
              <img src="images/fi_car.png" alt="img-car" />
            </h5>
            <p>Nama/Tipe Mobil</p>
            <h6>Rp 430.000 / hari</h6>
            <p class="card-text"><img src="images/fi_key.png" alt="icon-key" />Start rent - Finish rent</p>
            <p class="card-text"><img src="images/fi_clock.png " alt="icon-clock" />Updated at 4 Apr 2022, 09.00</p>
            <div class="btn-group" aria-label="Basic example">
              <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger btn-trash"><img src="images/fi_trash-2.png" alt="icon-trash" />Delete</button>
              <button type="button" class="btn btn-success btn-edit"><img src="images/fi_edit.png" alt="icon-edit" />Edit</button>
            </div>
          </div>
        </div>
        <div class="card me-5">
          <div class="card-body">
            <h5 class="card-title">
              <img src="images/fi_car.png" alt="img-car" />
            </h5>
            <p>Nama/Tipe Mobil</p>
            <h6>Rp 430.000 / hari</h6>
            <p class="card-text"><img src="images/fi_key.png" alt="icon-key" />Start rent - Finish rent</p>
            <p class="card-text"><img src="images/fi_clock.png " alt="icon-clock" />Updated at 4 Apr 2022, 09.00</p>
            <div class="btn-group" aria-label="Basic example">
              <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-danger btn-trash"><img src="images/fi_trash-2.png" alt="icon-trash" />Delete</button>
              <button type="button" class="btn btn-success btn-edit"><img src="images/fi_edit.png" alt="icon-edit" />Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
